
/****************** Base styles ******************/
* {
  box-sizing: border-box;
}

body{
  font-family: 'Hammersmith One', sans-serif;
  background-color: #FFE9F7;
}

/****************** HEADER ******************/
#header-nav {
  background-color: #FF009A;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-left: 0px;
  margin-bottom: 0;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/****************** CONTENT ******************/
div.main-content{
  padding-left: 40px;
  padding-right: 40px;
}

#main-content{
  margin: auto;
}
h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #D0077F;
  font-size: 300%;
  font-weight: bold;
  text-align: center;
}

div.section{
  margin-right: 1px;
  margin-bottom: 10px;
  border: 5px solid black;
}

p.title {
  background-color: #000000;
  padding: 10px;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  width: 100%;
  height: 50px;
  margin-right: 0;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: auto;
  color: #D0077F;
}

p.description {
  width: 90%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  color: #000000;
  overflow: auto;
}

div#pink1{
  background-color: #FF9ED9;
}
p#ppink1{
  color: #FF9ED9;
}
div#pink2{
  background-color: #FF69B4;
}
p#ppink2{
  color: #FF69B4;
}
div#pink3{
  background-color: #FF009A;
}

p#ppink3{
  color: #FF009A;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  margin: auto;
}

/********** MOBILE **********/
@media (max-width: 767px) {
  .col-xm-12 {
    float: left;
    width: 100%;
  }
}
